/*
button{
    background-color: aqua;
    font-size: medium;
    padding: 15px 30px;
    color: white;
    width: 100px;
}

.increment{
    font-size: x-large;
    padding: 10px 15px;
    color: rgb(17, 17, 24);
}

.reset{
    font-size: large;
    width: 200px;
    background-color: red;
}

body{
    padding: 10px 15px;
}
*/